.top{
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to right, rgb(97, 118, 255), rgb(255, 223, 192));
    opacity: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    color: antiquewhite;
    font-family: 'Josefin Sans', sans-serif;
    filter: drop-shadow(0px 3px 3px #6e6b99);
}

.topLeft, .topRight {
    flex: 3;
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 50px;
    border-radius: 50%;
}

.topCenter {
    flex: 6;
    display: flex;
    justify-content: center;
    font-size: 25 px;
}

.listItem {
    list-style: none;
    margin: 20px;
}

.listItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    color: antiquewhite;
    height: 50px;
    width: 50px;
}